<%# Settings partial for the Redmine Service Packages plugin %>
<%# This form allows admins to configure which custom fields are used by the plugin %>

<% 
  # Fetch all project custom fields that are of type 'list' for service package name AND progress status
  list_type_custom_fields = ProjectCustomField.where(field_format: 'list').order(:name).map { |cf| [cf.name, cf.id] }
  # Fetch all project custom fields that are of type 'int' for service package posts count AND for written posts count
  int_type_custom_fields = ProjectCustomField.where(field_format: 'int').order(:name).map { |cf| [cf.name, cf.id] }
  # Fetch all trackers
  trackers = Tracker.order(:name).map { |t| [t.name, t.id] }
%>

<p>
  <label for="settings_service_package_name_cf_id"><%= l(:label_setting_service_package_name_cf) %></label>
  <%= select_tag(
        'settings[service_package_name_cf_id]',
        options_for_select(list_type_custom_fields, @settings['service_package_name_cf_id']&.to_i),
        include_blank: true
      ) 
  %>
  <br>
  <em><%= l(:label_setting_service_package_name_cf_desc) %></em>
</p>

<p>
  <label for="settings_service_package_posts_cf_id"><%= l(:label_setting_service_package_posts_cf) %></label>
  <%= select_tag(
        'settings[service_package_posts_cf_id]',
        options_for_select(int_type_custom_fields, @settings['service_package_posts_cf_id']&.to_i),
        include_blank: true
      ) 
  %>
  <br>
  <em><%= l(:label_setting_service_package_posts_cf_desc) %></em>
</p>

<p>
  <label for="settings_written_posts_cf_id"><%= l(:label_setting_written_posts_cf) %></label>
  <%= select_tag(
        'settings[written_posts_cf_id]',
        options_for_select(int_type_custom_fields, @settings['written_posts_cf_id']&.to_i),
        include_blank: true
      ) 
  %>
  <br>
  <em><%= l(:label_setting_written_posts_cf_desc) %></em>
</p>

<p>
  <label for="settings_counting_tracker_id"><%= l(:label_setting_counting_tracker) %></label>
  <%= select_tag(
        'settings[counting_tracker_id]',
        options_for_select(trackers, @settings['counting_tracker_id']&.to_i),
        include_blank: true 
      ) 
  %>
  <br>
  <em><%= l(:label_setting_counting_tracker_desc) %></em>
</p>

<p>
  <label for="settings_progress_status_cf_id"><%= l(:label_setting_progress_status_cf) %></label>
  <%= select_tag(
        'settings[progress_status_cf_id]',
        options_for_select(list_type_custom_fields, @settings['progress_status_cf_id']&.to_i),
        include_blank: true 
      ) 
  %>
  <br>
  <em><%= l(:label_setting_progress_status_cf_desc) %></em>
</p>

<p>
  <label for="settings_progress_calculation_rules"><%= l(:label_setting_progress_calculation_rules) %></label><br>
  <%= text_area_tag 'settings[progress_calculation_rules]', @settings['progress_calculation_rules'], rows: 6, class: 'wiki-edit' %>
  <br>
  <em><%= textilizable(l(:label_setting_progress_calculation_rules_desc)) %></em>
</p>

<p>
  <strong><%= l(:label_important_note) %>:</strong>
  <%= textilizable(l(:text_custom_field_configuration_note, 
        service_package_name_field: "<strong>" + l(:label_service_package_name_cf_example) + "</strong>",
        service_package_posts_field: "<strong>" + l(:label_service_package_posts_cf_example) + "</strong>"
      ))
  %>
</p> 
