<%# View for creating a new service package %>
<h2 class="icon icon-package"><%= l(:label_service_package_new) %></h2>

<%= labelled_form_for @service_package, url: service_packages_path do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <%= submit_tag l(:button_create) %>
  <%= link_to l(:button_cancel), service_packages_path, class: 'icon icon-cancel' %>
<% end %> 
